* text=auto eol=lf
/.gitattributes export-ignore
/.dockerignore export-ignore
/.github export-ignore
/.gitignore export-ignore
/.gitlab-ci.yml export-ignore
/.cspell-project-words.txt export-ignore
/.prettierrc.json export-ignore
/tests export-ignore
